[submodule "_includes/draft-00"]
	path = _includes/draft-00
	url = https://github.com/json-schema-org/json-schema-spec.git
[submodule "_includes/draft-01"]
	path = _includes/draft-01
	url = https://github.com/json-schema-org/json-schema-spec.git
[submodule "_includes/draft-02"]
	path = _includes/draft-02
	url = https://github.com/json-schema-org/json-schema-spec.git
[submodule "_includes/draft-03"]
	path = _includes/draft-03
	url = https://github.com/json-schema-org/json-schema-spec.git
	branch = draft-03
[submodule "_includes/draft-04"]
	path = _includes/draft-04
	url = https://github.com/json-schema-org/json-schema-spec.git
	branch = draft-04
[submodule "_includes/draft-05"]
	path = _includes/draft-05
	url = https://github.com/json-schema-org/json-schema-spec.git
[submodule "_includes/draft-06"]
	path = _includes/draft-06
	url = https://github.com/json-schema-org/json-schema-spec.git
	branch = draft-06
[submodule "_includes/draft-07"]
	path = _includes/draft-07
	url = https://github.com/json-schema-org/json-schema-spec.git
	branch = draft-07
[submodule "_includes/draft/2019-09"]
	path = _includes/draft/2019-09
	url = https://github.com/json-schema-org/json-schema-spec.git
	branch = 2019-09
[submodule "_includes/draft/2020-12"]
	path = _includes/draft/2020-12
	url = https://github.com/json-schema-org/json-schema-spec.git
	branch = 2020-12
