---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from the `minima` theme.
@import "minima";
@import "minima/syntax-highlighting";
@import "tables";

// Import navigation partial for Software page
@import "intra-navigation";

// _base.scss overrides
pre,
code {
  background-color: unset;
}

.wrapper {
  max-width: 760px;
}

// _layout.scss overrides
.site-title {
    line-height: 46px;
    margin: 10px 0;
    padding-left: 56px;
    background: url(../assets/logo.svg) center left no-repeat;
    background-size: contain;
}

.site-nav {
    margin: 10px 0;
}

.footer-col-1 {
    box-sizing: border-box;
    width: 45%;
}

.footer-col-3 {
    box-sizing: border-box;
    width: 55%;
    text-align: right;
}

// minima.scss overrides
$spacing-unit:     10px !default;
$content-width:    960px !default;

// Carbon ads

#carbonads {
  max-width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  position: fixed;
  right: 10px;
  top: 90px;
  font-size: 12px;
  line-height: 1.45;
  background-color: #f9f9f9;
  border: 1px dashed;
  border-color: #cacaca;
}

@media (max-width: 1420px) {
  #carbonads {
    display: block;
    position: relative;
    right: unset;
    top: unset;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;
    max-width: 728px;
    font-size: 24px;
    box-sizing: content-box;
  }
}

#carbonads > span {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  margin-right: 10px;
  line-height: 1;
}

#carbonads .carbon-text {
  margin-bottom: 12px;
  color: #637381;
  text-decoration: none;
}

#carbonads .carbon-poweredby {
  position: absolute;
  bottom: 10px;
  left: 152px;
  color: #c5cdd0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
}

#carbonads .carbon-poweredby:hover {
  color: #637381;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  .carbon-text {
    font-size: 14px;
  }
}

// Minimal buttons https://github.com/vladocar/Simple-Button
.button {
  font-size: 1em;
  display: block;
  border: 0;
  margin: 0 6px;
  padding: 0.7em;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.button:hover,
.button:focus {
  opacity: 0.8;
}
.btcolor {
  background-color: red;
  color: #fff;
}
.btcolor:hover,
.btcolor:focus {
  background: #ff6666;
  color: #f0f0f0;
}
.round {
  border-radius: 0.6em;
}
.pill {
  border-radius: 1.1em / 50%;
}
.border {
  border: 1px solid #1577ca;
}

// Other custom CSS

.button-center {
  display: inline-block;
}
.text-center {
  text-align: center;
}

.small-svg-logo {
  height: 1.3em;
  width: 1.3em;
}

.wrapper.buttons {
  margin-bottom: 10px;
}

.custom-logo-link {
  /* display: inline-block; */
  max-height: 40px;
  padding-bottom: 0.7em;
  /* width: auto; */
}